
Shutterbug.xcodeproj/xcuserdata/ebernet.xcuserdatad/xcschemes/Shutterbug.xcscheme

Shutterbug.xcodeproj/xcuserdata/ebernet.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Shutterbug.xcodeproj/project.xcworkspace/xcuserdata/ebernet.xcuserdatad/UserInterfaceState.xcuserstate

Shutterbug/FlickrAPIKey.h

